* {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    /* outline: red dotted 1px; */
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    width: 100%;
    height: 600px;
    background-image:url('./background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgb(29, 137, 228);
    width: 100%;
    height: 45px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    color: white;
    padding-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.links {
    padding-right: 40px;
}

.aboutList {
    padding-top: 320px;
    display: flex;
    align-items: center;
    justify-content: center
}

.marine {
    color: white;
    margin-right: 50px;
}

.dojo {
    color: white;
}